@require 'cozy-ui/build'
@require './sidebar.css'
@require './todos.css'

.app-content
    margin 1rem 0 2rem 2rem

.password
    display: flex
    line-height: 35px
    border-bottom: 1px solid #cccccc
    > div
        flex: 1

.password-description
    color: #cccccc

.unstyled-link
    text-decoration: none;
    color: inherit;

.select-option
    display: flex
    line-height: 28px
    > .select-icon
        flex: 1
        text-align: center
    > .select-label
        flex: 9

.cozy-blue
    color: #297ef2;

.password-modal-content
    overflow: visible !important;

.home-icon
    font-size: 70px !important;

.c-nav-action
    cursor: pointer

.c-nav-action > li
.c-nav-action > li:hover
    background: #297EF2 !important;
    border-radius: 0 0.188rem 0.188rem 0;
    .c-nav-link > span
    .c-nav-link > svg
        color: #ffffff !important;

.c-nav-action > li:before
    content: none !important;

