@require 'cozy-ui/build'
@require './variables.styl'
@require './sidebar.css'
@require './todos.css'

.app-content
    margin 1rem 0 2rem 2rem

.password
    display flex
    line-height 35px
    border-bottom 1px solid cozy-grey
    > div
        flex 1

.password-description
    color cozy-grey

.unstyled-link
    text-decoration none
    color inherit

.select-option
    display flex
    line-height 28px
    > .select-icon
        flex 1
        text-align center
    > .select-label
        flex 9

.cozy-blue
    color cozy-blue

div.password-modal-content
    overflow visible

.home-icon
    font-size 70px
nav
    .c-nav-action
        cursor pointer

    .c-nav-action > li
    .c-nav-action > li:hover
        background cozy-blue
        border-radius 0 .188rem .188rem 0
        .c-nav-link > span, svg
            color white

    .c-nav-action > li:before
        width 0

svg, div
    [aria-hidden=true]
        visibility visible
        display inline-block
